.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}
.wd-flex-grow {
    flex-grow: 1;
}

.wd-bg-color-blue{
    background-color: blue;
}

body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, serif;
}