body, html {
   /* height: 100%;
    width: 100%;
    margin: 0;*/
}
.wd-column {
    min-height: 100%;
    float: left;
    padding-top: 20px;
    /*
    display: inline-block;
    */
    white-space: nowrap;
}
/*

!*----------Sidebar----------*!
.wd-nav-div {
    width: 85px;
    align-content: center;
    background-color: #1c1c1c;
    text-align: center;
    margin-right: 20px;
}
.wd-nav-box{
    height: 100px;
    padding: 5px;
    text-align: center;
}
.wd-sidebar-ul{
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.wd-sidebar-li{
    height: 65px;
    vertical-align: center;
    text-align: center;
    width: 75px;
    padding: 5px;

}
.wd-sidebar-li-current{
    background-color: white;

    !*padding-right: 5px;*!
}
.wd-sidebar-a{
    text-align: center;
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-top: 5px;
}
.wd-sidebar-a:hover{
    color: white;
}
.wd-sidebar-a-current{
    color: #bf0f0f;
}
.wd-sidebar-section-name {
    padding-top: 28px;
}
.wd-sidebar-icon-color{
    color: #bf0f0f;
}
.wd-sidebar-img {
    padding-right: 5px;
    padding-top: 3px;
}

!*----------------------------*!
!*--------Course Navigation----------*!
.wd-courses-bar {
    height: 100%;
    align-content: start;
    width: 190px;
    padding-top: 50px;
    margin-right: 10px;
    margin-left: 10px;

}
.wd-courses-ul{
    list-style: none;
    text-align: left;
    padding-left: 1rem;
    margin-right: 2rem;

}
.wd-courses-li {
    padding: 5px 5px 10px;
}
.wd-courses-li-active {
    border-left: 2px solid #1c1c1c;
    list-style-position: outside;
    color: #1c1c1c;


}
.wd-courses-a{
    font-size: 16px;
    text-decoration: none;
    color: #bf0f0f;
}
.wd-courses-a-active {
    color: #1c1c1c;
}
.wd-courses-a:hover {
    text-decoration: underline;
    color: #bf0f0f;
}
.wd-courses-a-active:hover{
    color: #1c1c1c;
}
!*----------------------------*!*/
/*----------Modules-----------*/
.wd-modules-column {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 600px;
    width: 550px;
}
.wd-modules-font {
    font-size: 16px;
    font-weight: 600;
    color: #303030;
}
.wd-modules-a {
    text-decoration: none;
    color: #bf0f0f;
}
.wd-modules-a:hover {
    text-decoration: underline;
    color: #bf0f0f;
}
.wd-modules-module-btn {
    color: white;
}
.wd-modules-c-e{
    margin: 5px;
}
/*----------------------------*/
/*----------Course Status-----------*/
.wd-status-a {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.wd-status-column {
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 20px;
}
.wd-status-h5 {
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 15px;
}
.wd-status-view-calendar {
    float: right;
    text-decoration: none;
    color: #bf0f0f;
    margin-top: 15px;

}
.wd-status-view-calendar:hover{
    color: #bf0f0f;
    text-decoration: underline;
}
.wd-status-ul {
    list-style: none;
    text-align: left;
    padding-left: 5px;
}
.wd-status-li {
    text-align: left;
}
.wd-status-a {
    text-decoration: none;
}
.wd-status-a:hover {
    text-decoration: underline;
    color: #bf0f0f;
}
.wd-status-p {
    margin-left: 19px;
    font-size: 14px;
    color: grey;
    font-weight: 600;
}
.wd-status-a2 {
    color: #bf0f0f;
    text-decoration: none;
}
.wd-status-a2:hover {
    color: #bf0f0f;
    text-decoration: underline;
}
/*----------------------------*/
/*
!*----------Breadcrumb-----------*!
.wd-breadcrumb-bar {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    margin-left: 20px;
}
.wd-breadcrumb-a{
    color: #bf0f0f;
    text-decoration: none;
}
.wd-breadcrumb-a:hover{
    color: #bf0f0f;
    text-decoration: none;
}
.wd-breadcrumb-item {
    color: #b52828;
    text-decoration: none;
}
.wd-breadcrumb-item:hover {
    color: #b52828;
    text-decoration: underline;
}
.wd-breadcrumb-active {
    color: #1c1c1c;
}
.wd-bars-style {
    float: left;
    margin-right: 20px;
}*/
